/***** GENERAL*****/

html {
  margin: 0;
}

body {
  background: url(../img/broccoli1920.jpg);
  color: white;
  font-family: Helvetica;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  display: flex;
}

 .section-1, .section-2 {
  margin: 0  5%  ;
}

header {
  height: 300px;
}

h1 {
  color: white;
  margin: 0 5% 0 50px;
  padding-top: 10px;
  float: left;
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
}

/***** NAV*****/

nav {
  margin: 0 50px 0 0;
  padding: 16px;
  font-family: 'Amatic SC', cursive;
}

ul {
  list-style-type: none;
}

li a {
  color: white;
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  font-size: 1.5em;
}

.wrapper {
 margin: 5% 5% 5% 5%;
}

/***** HOME PAGE SETUP*****/

.menu {
  content: url(../img/menu.jpg);
  margin: auto;
  padding-bottom: 5%;
  max-width: 100%;
}

.chef  {
 content: url(../img/chef.jpg);
 max-width: 100%;
}

.food-1 {
  content: url(../img/food.jpg);
  margin: auto;
  padding-bottom: 5%;
  max-width: 100%;
}

.food-2 {

content: url(../img/food1.jpg);
margin: auto;
  padding-bottom: 5%;
  max-width: 100%;
}


p {
  padding-bottom: 5%;
  font-family: 'Amatic SC', cursive;
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
}

 /***** FOOTER *****/

footer {
  height: 75px;
  border-top: 2px solid lightgray;
  margin: 0 10% 0 10%;
  padding-top: 40px;
  text-align: center;
}

.copy-right {
   margin: auto;
   font-family: 'Amatic SC', cursive;
   font-size: 1.5em;
}

/***** ABOUT US *****/

.food-info-1, .food-1 {
  padding: 0;
  marign: 0;
}

/***** CONTACT US *****/

.contact-1 {
 text-align: center;
}

.contact-1 a{
  display: block;
  color: white;
}

.contact-2 {
  text-align: center;
}

.contact-2 a{
  display: block;
  color: white;
}

.phone, .email, .instagram, .facebook {
   font-size: 2em;
  font-family: 'Amatic SC', cursive;
 margin: 5px auto;
  text-decoration: none;
}

 a:hover {
   border-bottom: 1px solid white;
}

a:visited {
  color: #ffffff;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 1100px) {

/***** NAV *****/

nav {
  float: right;
  }

li  {
  display: inline;
  padding: 5px;
  }

  /***** HOME WIDESCREEN*****/

  .chef {
    width: 400px;
    float: right;
    padding: 5% 0 5% 5%;
  }

  .description {
  float: left;
  }

  .food-info-1 {
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5%;
  }

  .food-1 {
   flex-basis: 1;
    padding-right: 5%;
  }

  .about-pic-1 {
    flex-basis: 1;
  }

  .food-info-2 {
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5%;
  }

  /***** CONTACT US WIDESCREEN*****/

 .contact-1 {
   float: left;
  padding-left: 25%;
}

.contact-2 {
   float: right;
   padding-right: 25%;
}

  .phone {
  padding-right: 20px;
  }

.instagram {
    padding-right: 20px;
  }

}
